:host .header {

  position: relative;
  height: 64px;
  border-bottom: 1px solid rgba(151, 157, 164, 0.16);
  background: #FFF;

  .header-logo {
    width: 100px;
    height: 30px;
    background: red;
    cursor: pointer;
  }

  .header-back {
    position: absolute;
    top: 80px;
    left: 100px;
  }

}

@media only screen and (max-width : 768px) {

  :host .header {

    .header-back {
      left: -3px;
    }

  }

}
