:host .forgot {

  width: 400px;
  margin: 0 auto 10px auto;
  position: relative;

  .forgot-signin {
    margin: 10px 0 40px 0;
  }

  .forgot-form {
    position: relative;
    z-index: 2;
    background: #FFF;
    overflow: hidden;
  }

  .forgot-success {

    position: absolute;
    top: 100px;
    width: 100%;

    .forgot-success-link {
      margin-top: 30px;
    }

  }

}

@media only screen and (max-width : 400px) {

  :host .forgot {
    width: 100%;
    margin: 0;
  }

}
