:host .signup {

  width: 400px;
  margin: 0 auto;

  .signup-password {

    position: relative;

    .signup-password-toggle {
      position: absolute;
      top: -4px;
      right: 0;
    }

  }

  .signup-terms {
    margin: 10px 0 40px 0;
  }

}

@media only screen and (max-width : 400px) {

  :host .signup {
    width: 100%;
    margin: 0;
  }

}
