<uw-container-simple [title]="'COMMON_SIGNUP'|translate">
  <div class="signup">
    <form [formGroup]="form"
          novalidate>
      <div class="signup-form"
           fxLayout="column"
           *ngIf="!email"
           @collapse>
        <mat-form-field class="">
          <input [placeholder]="'FORM_USERNAME'|translate"
                 [formControl]="usernameControl"
                 [errorStateMatcher]="matcher"
                 formControlName="username"
                 matInput>
          <mat-error *ngIf="usernameControl.hasError('required')"
                     [innerHTML]="'FORM_USERNAME_ERROR_REQUIRED'|translate"></mat-error>
        </mat-form-field>
        <mat-form-field class="green-theme">
          <input type="email"
                 [placeholder]="'FORM_EMAIL'|translate"
                 [formControl]="emailControl"
                 [errorStateMatcher]="matcher"
                 formControlName="email"
                 matInput>
          <mat-error *ngIf="emailControl.hasError('required')"
                     [innerHTML]="'FORM_EMAIL_ERROR_REQUIRED'|translate"></mat-error>
          <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')"
                     [innerHTML]="'FORM_EMAIL_ERROR_EMAIL'|translate"></mat-error>
        </mat-form-field>
        <mat-form-field class="signup-password green-theme">
          <input [type]="isPasswordVisible ? 'text' : 'password'"
                 [placeholder]="'FORM_PASSWORD'|translate"
                 [formControl]="passwordControl"
                 [errorStateMatcher]="matcher"
                 formControlName="password"
                 matInput>
          <mat-hint *ngIf="passwordControl.invalid"
                    [innerHTML]="'FORM_PASSWORD_HINT'|translate"></mat-hint>
          <mat-error *ngIf="passwordControl.hasError('required')"
                     [innerHTML]="'FORM_PASSWORD_ERROR_REQUIRED'|translate"></mat-error>
          <mat-error *ngIf="passwordControl.hasError('minlength') && !passwordControl.hasError('pattern')"
                     [innerHTML]="'FORM_PASSWORD_ERROR_MINLENGTH'|translate"></mat-error>
          <mat-error *ngIf="passwordControl.hasError('pattern')"
                     [innerHTML]="'FORM_PASSWORD_ERROR_PATTERN'|translate"></mat-error>
          <uw-button class="signup-password-toggle"
                     inline="inline"
                     (click)="togglePasswordVisibility($event)">
            <mat-icon>visibility{{isPasswordVisible ? '_off' : ''}}</mat-icon>
          </uw-button>
        </mat-form-field>
        <mat-form-field class="signup-password green-theme">
          <input [type]="isPasswordVisible ? 'text' : 'password'"
                 [placeholder]="'FORM_PASSWORDMATCH'|translate"
                 [formControl]="passwordMatchControl"
                 [errorStateMatcher]="matcher"
                 formControlName="passwordMatch"
                 matInput>
          <mat-error *ngIf="passwordMatchControl.hasError('mismatch')"
                     [innerHTML]="'FORM_PASSWORDMATCH_ERROR_MISMATCH'|translate"></mat-error>
          <uw-button class="signup-password-toggle"
                     inline="inline"
                     (click)="togglePasswordVisibility($event)">
            <mat-icon>visibility{{isPasswordVisible ? '_off' : ''}}</mat-icon>
          </uw-button>
        </mat-form-field>
        <div fxLayout="column"
             fxLayoutAlign="start center">
          <uw-button class="signup-terms"
                     inline="inline"
                     (click)="showTermsOfService()">{{'COMMON_TOS'|translate}}</uw-button>
        </div>
      </div>
      <div fxLayout="column"
           fxLayoutAlign="start center">
        <uw-button type="submit"
                   successIcon="mail"
                   successColor="#ff296f"
                   [disabled]="form.invalid || serverObservable || email"
                   [observable]="serverObservable"
                   (action)="signup()">{{'COMMON_SIGNUP'|translate}}</uw-button>
      </div>
      <div class="signup-success"
           fxLayout="column"
           fxLayoutAlign="start center"
           *ngIf="email"
           @success>
        <h2>{{('SIGNUP_SUCCESS_TITLE'|translate: { username: usernameControl.value })}}</h2>
        <span>{{'SIGNUP_SUCCESS_TEXT'|translate}}</span>
        <uw-button class="signup-success-link"
                   inline="inline"
                   (click)="goToMail()">{{('SIGNUP_SUCCESS_LINK'|translate: { link: getEmailHostname() })}}</uw-button>
      </div>
    </form>
  </div>
</uw-container-simple>
