<div id="app">
  <div id="app-splash"
       *ngIf="isSplashDisplayed()"
       @splash>
    <div id="app-splash-logo"
         class="white-theme"
         fxLayout="column"
         fxLayoutAlign="center center">
      <img src="assets/logo-white.png"
           srcset="assets/logo-white@2x.png 2x, assets/logo-white@3x.png 3x">
      <span id="app-splash-logo-baseline">Manage your life</span>
      <mat-spinner diameter="30"
                   strokeWidth="2"
                   @spinner
                   (@spinner.done)="spinnerIsReady()"></mat-spinner>
    </div>
    <div id="app-splash-background1"
         class="app-splash-background"
         @bg1></div>
    <div id="app-splash-background2"
         class="app-splash-background"
         @bg2></div>
    <div id="app-splash-background3"
         class="app-splash-background"
         @bg3></div>
  </div>
  <router-outlet id="app-content"></router-outlet>
</div>
