:host .container-simple {

  box-sizing: border-box;
  height: 100%;
  padding-top: 120px;
  margin: 0 auto;

  &:not(.wide) {
    width: 768px;
  }

  .container-simple-title {
    font-family: "Gotham Bold", sans-serif;
    font-size: 32px;
    line-height: 1.13;
    color: #292938;
    padding: 0;
    margin: 0 0 40px 0;
  }

}

@media only screen and (max-width : 768px) {

  :host .container-simple {

    &:not(.wide) {
      width: 100%;
      padding: 120px 10px 0 10px;
    }

  }

}
