<uw-container-simple [title]="'PASSWORD_TITLE'|translate">
  <div class="password">
    <form [formGroup]="form"
          novalidate>
      <div class="password-form"
           fxLayout="column"
           *ngIf="!success"
           @collapse>
        <div class="password-form-intro">{{'PASSWORD_INTRO'|translate}}</div>
        <mat-form-field class="password-password green-theme">
          <input [type]="isPasswordVisible ? 'text' : 'password'"
                 [placeholder]="'FORM_PASSWORD'|translate"
                 [formControl]="passwordControl"
                 [errorStateMatcher]="matcher"
                 formControlName="password"
                 matInput>
          <mat-hint *ngIf="passwordControl.invalid"
                    [innerHTML]="'FORM_PASSWORD_HINT'|translate"></mat-hint>
          <mat-error *ngIf="passwordControl.hasError('required')"
                     [innerHTML]="'FORM_PASSWORD_ERROR_REQUIRED'|translate"></mat-error>
          <mat-error *ngIf="passwordControl.hasError('minlength') && !passwordControl.hasError('pattern')"
                     [innerHTML]="'FORM_PASSWORD_ERROR_MINLENGTH'|translate"></mat-error>
          <mat-error *ngIf="passwordControl.hasError('pattern')"
                     [innerHTML]="'FORM_PASSWORD_ERROR_PATTERN'|translate"></mat-error>
          <uw-button class="password-password-toggle"
                     inline="inline"
                     (click)="togglePasswordVisibility($event)">
            <mat-icon>visibility{{isPasswordVisible ? '_off' : ''}}</mat-icon>
          </uw-button>
        </mat-form-field>
        <mat-form-field class="password-password green-theme">
          <input [type]="isPasswordVisible ? 'text' : 'password'"
                 [placeholder]="'FORM_PASSWORDMATCH'|translate"
                 [formControl]="passwordMatchControl"
                 [errorStateMatcher]="matcher"
                 formControlName="passwordMatch"
                 matInput>
          <mat-error *ngIf="passwordMatchControl.hasError('mismatch')"
                     [innerHTML]="'FORM_PASSWORDMATCH_ERROR_MISMATCH'|translate"></mat-error>
          <uw-button class="password-password-toggle"
                     inline="inline"
                     (click)="togglePasswordVisibility($event)">
            <mat-icon>visibility{{isPasswordVisible ? '_off' : ''}}</mat-icon>
          </uw-button>
        </mat-form-field>
      </div>
      <div fxLayout="column"
           fxLayoutAlign="start center">
        <uw-button class="password-submit"
                   type="submit"
                   successColor="#ff296f"
                   [disabled]="form.invalid || serverObservable || success"
                   [observable]="serverObservable"
                   (action)="password()">{{'PASSWORD_BUTTON'|translate}}</uw-button>
      </div>
      <div class="password-success"
           fxLayout="column"
           fxLayoutAlign="start center"
           *ngIf="success"
           @success>
        <span>{{'PASSWORD_SUCCESS'|translate}}</span>
        <uw-button class="password-success-link"
                   inline="inline"
                   [routerLink]="['', 'signin']">{{'COMMON_SIGNIN'|translate}}</uw-button>
      </div>
    </form>
  </div>
</uw-container-simple>
