:host .password {

  width: 400px;
  margin: 0 auto 10px auto;
  position: relative;

  .password-password {

    position: relative;

    .password-password-toggle {
      position: absolute;
      top: -4px;
      right: 0;
    }

  }

  .password-form {

    position: relative;
    z-index: 2;
    background: #FFF;
    overflow: hidden;

    .password-form-intro {
      margin-bottom: 20px;
    }

  }

  .password-success {

    position: absolute;
    top: 115px;
    width: 100%;

    .password-success-link {
      margin-top: 30px;
    }

  }

  .password-submit {
    margin: 30px 0 15px 0;
  }

}

@media only screen and (max-width : 400px) {

  :host .password {
    width: 100%;
    margin: 0;
  }

}
