:host .welcome {

  height: 100%;

  .welcome-baseline {
    color: #9d9db1;
    font-family: "Gotham Light", sans-serif;
    font-size: 30px;
    padding: 30px 0 70px 0;
  }

  .welcome-signin {
    padding: 30px 0 5px 0;
    font-size: 16px;
    color: #9d9db1;
  }

}
