////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Global

html,
body {
  height : 100%;
}

body {
  overflow: hidden auto;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

strong {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Fonts

@font-face {
  font-family: 'Gotham Light';
  src: url(assets/Gotham-XLight.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham Medium';
  src: url(assets/Gotham-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham Bold';
  src: url(assets/Gotham-Bold.otf) format('opentype');
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Angular Material Themes

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

@include mat-core();

$whitePalette: mat-palette((
  50: #fff,
  100: #fff,
  200: #fff,
  300: #fff,
  400: #fff,
  500: #fff,
  600: #fff,
  700: #fff,
  800: #fff,
  900: #fff,
  A100: #fff,
  A200: #fff,
  A400: #fff,
  A700: #fff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
));
$whiteTheme: mat-light-theme($whitePalette, $whitePalette, $whitePalette);

.white-theme {
  @include angular-material-theme($whiteTheme);
}

$greenColor: #1abc9c;
$greenPalette: mat-palette((
  50: $greenColor,
  100: $greenColor,
  200: $greenColor,
  300: $greenColor,
  400: $greenColor,
  500: $greenColor,
  600: $greenColor,
  700: $greenColor,
  800: $greenColor,
  900: $greenColor,
  A100: $greenColor,
  A200: $greenColor,
  A400: $greenColor,
  A700: $greenColor,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
));

@include mat-form-field-theme(mat-light-theme($greenPalette, $greenPalette));

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Angular Material override

.mat-form-field-label-wrapper,
.mat-hint,
.mat-error,
.mat-input-element {
  font-family: "Open Sans", sans-serif !important;
}

.mat-form-field {
  margin-bottom: 10px;
}

.mat-error {
  padding-bottom: 3px;
}

.mat-dialog-light,
.mat-dialog-light .mat-dialog-container {
  max-width: none !important;
  width: 100vw !important;
  height: 100vh !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background-color: rgba(white, 0) !important;
}

.mat-dialog-light {
  background-color: rgba(white, .92) !important;
}
